[Unit]
Description=AntMedia
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=2
ExecStart=/etc/init.d/antmedia

[Install]
WantedBy=multi-user.target
